/EjemplosT8/nbproject/private/
/EjemplosT8/build/
/Taller08/nbproject/private/
/Taller008/Problema01/nbproject/private/
/Taller008/Problema01/dist/
/Taller008/Problema01/build/
/Taller008/Problema02/nbproject/private/
/Taller008/Problema02/build/
/Taller008/Problemao3/nbproject/private/
/Taller008/Problema03/build/
/Taller008/Problema03/nbproject/private/
/Taller008/Problema04/nbproject/private/
/Taller008/Problema04/build/
